<h2>Products</h2>
<table class="table">
	<thead>
		<tr>
			<th>product</th>
			<th>popularity</th>
			<th>see</th>
			<th>price</th>
			<th>servings per container</th>
			<th># to buy</th>
			<th>how much to use</th>
		</tr>
	</thead>
	<tbody>
	    {% for product, s, a_row, solution_vars_int, percent in solution %}
	    	{% if solution_vars_int.varValue > 0 %}
			    <tr>
			      	<td>
			      		{% if request.user.is_staff %}
			    	  		<a href="{% url 'update_product' product.pk %}">{{ product }}</a>
			      		{% else %}
				      		{{ product }}
			      		{% endif %}
					</td>
	    			<td>
	    				<span id="votes_{{ product.pk }}">{{ product.votes }}</span>
	    				<a href="#" targeted="votes_{{ product.pk }}" action_url="{% url 'vote' pk=product.pk model='product' direction='up' %}"><i class="icon-thumbs-up"></i></a>
	    				<a href="#" targeted="votes_{{ product.pk }}" action_url="{% url 'vote' pk=product.pk model='product' direction='down' %}"><i class="icon-thumbs-down"></i></a>
					</td>
			      	<td><a href="{{ product.url }}" target="product_{{ product.pk }}">see product</a></td>
			      	<td>${{ product.price }}</td>
			      	<td>{{ product.serving_per_container }}</td>
			      	<td>{{ solution_vars_int.varValue }}</td>
					<td>{{ percent }}/{% widthratio product.serving_per_container 1 solution_vars_int.varValue %} servings</td>
			    </tr>
		    {% endif %}
	    {% endfor %}
    </tbody>
</table>