{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block navbar_class %}navbar-inverse navbar-fixed-top{% endblock %}

{% block extra_head_base %}
    {% block extra_head %}
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    {% endblock %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
