{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}All{% endblock %}

{% block body %}
	<table class="table">
		<tr>
			<td>name</td>
			<td>days</td>
			<td>owner</td>
			<td>price per day</td>
			<td>balanced?</td>
			<td>tags</td>
		</tr>
    	{% for object in object_list %}
    		<tr>
    			<td><a href="{% url 'read_mealplan' object.pk %}">{{ object }}</a></td>
    			<td>{{ object.number_of_days }}</td>
    			<td>{{ object.user }}</td>
    			<td>${{ object.price|floatformat:2 }}</td>
    			<td>{% if object.balanced  %}Yes{% else %}Not yet.{% endif %}</td>
    			<td>{% for tag in object.desired_tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
    		</tr>
    	{% endfor %}
    </table>
	{% if request.user.is_authenticated %}
    	<a href="{% url 'create_mealplan' %}" class="btn btn-primary">add mealplan</a>
	{% endif %}
{% endblock %}
