{% extends "banner_base.html" %}

{% load bootstrap_tags %}
{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}edit{% endblock %}

{% block body %}
<form method="POST" action='.'>{% csrf_token %}
	{{ form|as_bootstrap }}
	{{ formsets.management_form }}
	<table class="table">
		<thead>
			<tr>
				<th>nutrient</th>
				<th>recommended</th>
				<th>minimum</th>
				<th></th>
				<th>recommended</th>
				<th>maximum</th>
				<th></th>
			</tr>
		</thead>
		{% for formset in formsets %}
			<tr>
				<td>
					{% for value, text in formset.nutrient.field.choices %}
						{% if value|add:0 == formset.nutrient.value|add:0 %}
							{{ text }}
						{% endif %}
					{% endfor %}
				</td>
				<td>
					{{ formset.instance.nutrient.recommended_min_intake }} {{ formset.instance.nutrient.unit }}
				</td>
				<td>
					{{ formset.meal_plan }}
					{{ formset.nutrient }}
					{{ formset.id }}
					{{ formset.minimum }}
				</td>
				<td>
					{{ formset.minimum.errors }}
				</td>
				<td>
					{{ formset.instance.nutrient.recommended_max_intake }} {{ formset.instance.nutrient.unit }}
				</td>
				<td>
					{{ formset.maximum }}
				</td>
				<td>
					{{ formset.minimum.error }}
				</td>
			</tr>
		{% endfor %}
	</table>
	<p>
		<input type="submit" value="submit" class="btn btn-primary"/>
	</p>
</form>
{% endblock %}
