{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
<div class="well">
<h2>
	{% if request.user.is_authenticated and request.user == object.user %}
		<a href="{% url 'update_mealplan' object.pk %}">{{ object }}</a>
	{% else %}
		{{ object }}
	{% endif %}
</h2>
<table class="table">
	<thead>
		<tr>
			<th>complete</th>
			<th>balance</th>
			<th>days</th>
			<th>total cost</th>
			<th>daily cost</th>
		</tr>
	</thead>
	<tr>
		<td>
			{{ count }}%
			<div class="progress progress-striped active">
				{% if count >= 33 %}
					<div class="bar bar-danger" style="width: 33%;"></div>
				{% else %}
					<div class="bar bar-danger" style="width: {{ count }}%;"></div>
				{% endif %}
				{% if count >= 66 %}
					<div class="bar bar-warning" style="width: 33%;"></div>
					{% if count > 66 %}
						<div class="bar bar-success" style="width: {{ count|add:-66 }}%;"></div>
					{% endif %}
				{% else %}
					<div class="bar bar-warning" style="width: {{ count|add:-33 }}%;"></div>
				{% endif %}
			</div>
		</td>
		<td>
			{% if object.balanced %}
				Yes
			{% else %}
				Not yet.
			{% endif %}
		</td>
		<td>
			{{ object.number_of_days }}
		</td>
		<td>
			${{ cost|floatformat:2 }}
		</td>
		<td>
			${{ cost_ppd|floatformat:2 }}
		</td>
	</tr>
</table>
	{% if has_products %}
		{% if not balanced %}
			<p>
				{% if solution|length < 10 %}
					<div class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<h4>Warning!</h4>
						There are only {{ solution|length }} product(s) given your tags. We highly suggest you be more inclusive in your meal plan.  
					</div>	
				{% endif %}
				<div class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4>Warning!</h4>
					It was impossible to make an acceptable meal plan with your constraints. We have raised your upper limit thresholds for now until you edit your meal plan.
				</div>	
			</p>
		{% endif %}
	{% else %}
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<h4>Warning!</h4>
			You need to edit your meal plan, your current tags are so restrictive that ZERO products can even be evaluated. Add some desired tags for the meal plan and/or remove some excluded tags. 
		</div>	
	{% endif %}
	<p>
		<a href="{% url 'read_mealplans' %}" class="btn btn-primary">back to list</a>
		<a href="{% url 'update_mealplan' object.pk %}" class="btn btn-primary">edit meal plan</a>
	</p>
</div>
{% if has_products %}

	<ul class="nav nav-tabs">
	  <li class="active"><a href="#buy" data-toggle="tab">What to Buy</a></li>
	  <li><a href="#nutrient" data-toggle="tab">Nutrient Summary</a></li>
	  {% if not object.balanced %}
	  	<li><a href="#issues" data-toggle="tab">Summary of Nutrients with Issues</a></li>
	  {% endif %}
	  <li><a href="#summary" data-toggle="tab">Summary</a></li>
	</ul>

	<div class="tab-content">
	  	<div class="tab-pane active" id="buy">
	  		{% include "mealplan_partials/whattobuy.html" %}
	  	</div>
	  	<div class="tab-pane" id="nutrient">
	  		{% include "mealplan_partials/nutrients.html" %}
	  	</div>
	  	{% if not object.balanced %}
	  	<div class="tab-pane" id="issues">
	  		{% include "mealplan_partials/summary.html" with exclude_balanced=True %}
		</div>
		{% endif %}
	  	<div class="tab-pane" id="summary">
	  		{% include "mealplan_partials/summary.html" with exclude_balanced=False %}
	  	</div>
	</div>
	
	<a href="{% url 'read_mealplans' %}" class="btn btn-primary">back to list</a>
	<a href="{% url 'update_mealplan' object.pk %}" class="btn btn-primary">edit meal plan</a>
{% endif %}
{% endblock %}
{% block extra_body %}
<script>
$(document).ready(function(){
	var has_been_edited=false;
	$("[action_url]").live("click", function(){
		event.preventDefault();
		var obj = $(this);
		var url = obj.attr("action_url");
		$.getJSON(url, {},function(data){
			var id_name = "#"+obj.attr("targeted");
			$(id_name).html(data["votes"]);
		});
	});
});	
</script>
{% endblock %}
