{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}All{% endblock %}

{% block body %}
	<table class="table">
		<tr>
			<th>name</th>
			<th>popularity</th>
			<th>days</th>
			<th>owner</th>
			<th>price per day</th>
			<th>balanced?</th>
			<th>musts</th>
			<th>desires</th>
			<th>excludes</th>
		</tr>
    	{% for object in object_list %}
    		<tr>
    			<td><a href="{% url 'read_mealplan' object.pk %}">{{ object }}</a></td>
    			<td>
    				<span id="votes_{{ object.pk }}">{{ object.votes }}</span>
    				<a href="#" targeted="votes_{{ object.pk }}" action_url="{% url 'vote' pk=object.pk model='mealplan' direction='up' %}"><i class="icon-thumbs-up"></i></a>
    				<a href="#" targeted="votes_{{ object.pk }}" action_url="{% url 'vote' pk=object.pk model='mealplan' direction='down' %}"><i class="icon-thumbs-down"></i></a>
    			</td>
    			<td>{{ object.number_of_days }}</td>
    			<td>{{ object.user }}</td>
    			<td>${{ object.price|floatformat:2 }}</td>
    			<td>{% if object.balanced  %}Yes{% else %}Not yet.{% endif %}</td>
    			<td>{% for tag in object.must_have_tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
    			<td>{% for tag in object.desired_tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
    			<td>{% for tag in object.excluded_tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
    		</tr>
    	{% endfor %}
    </table>
	{% if request.user.is_authenticated %}
    	<a href="{% url 'create_mealplan' %}" class="btn btn-primary">add mealplan</a>
	{% endif %}
{% endblock %}
{% block extra_body %}
<script>
$(document).ready(function(){
	$("[action_url]").live("click", function(){
		event.preventDefault();
		var obj = $(this);
		var url = obj.attr("action_url");
		$.getJSON(url, {},function(data){
			var id_name = "#"+obj.attr("targeted");
			$(id_name).html(data["votes"]);
		});
	});});	
</script>
{% endblock %}


