{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
<div class="well">
<h2>Name:</h2>
<h2>
	{% if request.user.is_authenticated and request.user == object.user %}
		<a href="{% url 'update_mealplan' object.pk %}">{{ object }}</a>
	{% else %}
		{{ object }}
	{% endif %}
</h2>
<table class="table">
	<thead>
		<tr>
			<th>complete</th>
			<th>balance</th>
			<th>days</th>
			<th>total cost</th>
			<th>daily cost</th>
		</tr>
	</thead>
	<tr>
		<td>
			{{ count }}%
			<div class="progress progress-striped active">
			  	<div class="bar" style="width: {{ count }}%;"></div>
			</div>
		</td>
		<td>
			{% if object.balanced %}
				Yes
			{% else %}
				Not yet.
			{% endif %}
		</td>
		<td>{{ object.number_of_days }}</td>
		<td>
			${{ cost|floatformat:2 }}
		</td>
		<td>
			${{ cost_ppd|floatformat:2 }}
		</td>
	</tr>
</table>
	<p>
		<a href="{% url 'read_mealplans' %}" class="btn btn-primary">back to list</a>
	</p>
</div>

<ul class="nav nav-tabs">
  <li><a href="#buy" data-toggle="tab">What to Buy</a></li>
  <li><a href="#nutrient" data-toggle="tab">Nutrient Summary</a></li>
  <li><a href="#summary" data-toggle="tab">Summary</a></li>
</ul>

<div class="tab-content">
  	<div class="tab-pane active" id="buy">
  		{% include "mealplan_partials/whattobuy.html" %}
  	</div>
  	<div class="tab-pane" id="nutrient">
  		{% include "mealplan_partials/nutrients.html" %}
  	</div>
  	<div class="tab-pane" id="issues">
  		{% include "mealplan_partials/issues.html" %}
	</div>
  	<div class="tab-pane" id="summary">
  		{% include "mealplan_partials/summary.html" %}
  	</div>
</div>

<a href="{% url 'read_mealplans' %}" class="btn btn-primary">back to list</a>

{% endblock %}
{% block extra_body %}
<script>
$(document).ready(function(){
});	
</script>
{% endblock %}
