{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
<div class="well">
<h2>
	{% if request.user.is_authenticated and request.user == object.user %}
		Name: <a href="{% url 'update_mealplan' object.pk %}">{{ object }}</a>
	{% else %}
		{{ object }}
	{% endif %}
</h2>
<table class="table">
	<thead>
		<tr>
			<th>complete</th>
			<th>balance</th>
			<th>days</th>
			<th>total cost</th>
			<th>daily cost</th>
		</tr>
	</thead>
	<tr>
		<td>
			{{ count }}%
			<div class="progress progress-striped active">
			  	<div class="bar" style="width: {{ count }}%;"></div>
			</div>
		</td>
		<td>
			{% if object.balanced %}
				Yes
			{% else %}
				Not yet.
			{% endif %}
		</td>
		<td>{{ object.number_of_days }}</td>
		<td>
			${{ cost|floatformat:2 }}
		</td>
		<td>
			${{ cost_ppd|floatformat:2 }}
		</td>
	</tr>
</table>
</div>
<table class='table table-striped table-bordered table-hover table-condensed'>
  <caption>MealPlan: {{ object }}</caption>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      {% for nutrient, a_row in nutrients %}
      <th colspan='3' style="text-align: center;">{{ nutrient.nutrient }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr class="success">
      <td></td>
      <td></td>
      {% for nutrient, a_row in nutrients %}
      <td><b>minimum</b></td>
      <td><b>actual</b></td>
      <td><b>maximum</b></td>
      {% endfor %}
    </tr>
    <tr class="info">
      <td><b>desired&nbsp;daily&nbsp;balanace</b></td>
      <td></td>
      {% for nutrient, a_row, total, day_total, meets_min, meets_max in nutrients %}
      	<td>
      		{{ nutrient.minimum }}&nbsp;{{ nutrient.nutrient.unit }}<br/>
      	</td>
      	<td>
      		{{ day_total|floatformat:2 }}&nbsp;{{ nutrient.nutrient.unit }}<br/>
      	</td>
      	<td>
      		{{ nutrient.maximum }}&nbsp;{{ nutrient.nutrient.unit }}<br/>
  		</td>
      {% endfor %}
    </tr>
    <tr class="info">
      <td><b>desired&nbsp;balance&nbsp;for&nbsp;{{ object.number_of_days }}&nbsp;days</b></td>
      <td></td>
      {% for nutrient, a_row, total in nutrients %}
      <td>{% widthratio nutrient.minimum 1 object.number_of_days %}&nbsp;{{ nutrient.nutrient.unit }}</td>
      <td>{{ total|floatformat:2 }}&nbsp;{{ nutrient.nutrient.unit }}</td>
      <td>{% widthratio nutrient.maximum 1 object.number_of_days %}&nbsp;{{ nutrient.nutrient.unit }}</td>
      {% endfor %}
    </tr>
    <tr class="info">
      <td><b>is&nbsp;balanced?</b></td>
      <td></td>
      {% for nutrient, a_row, total, day_total, meets_min, meets_max in nutrients %}
      	<td style="text-align: center;">
      		{% if meets_min %}
      			<span class="label label-success"><i class="icon-thumbs-up"></i></span>	
      		{% else %}
      			<span class="label label-important"><i class="icon-thumbs-down"></i></span>	
      		{% endif %}
      	</td>
      	<td style="text-align: center;">
      		{% if meets_min and meets_max %}
      			<span class="label label-success"><i class="icon-thumbs-up"></i></span>	
      		{% else %}
      			<span class="label label-important"><i class="icon-thumbs-down"></i></span>	
      		{% endif %}
      	</td>
      	<td style="text-align: center;">
      		{% if meets_max %}
      			<span class="label label-success"><i class="icon-thumbs-up"></i></span>	
      		{% else %}
      			<span class="label label-important"><i class="icon-thumbs-down"></i></span>	
      		{% endif %}
  		</td>
      {% endfor %}
    </tr>
    <tr class="warning">
      <td><b>totals</b></td>
      <td></td>
      {% for nutrient, a_row, total, day_total, meets_min, meets_max in nutrients %}
      	<td colspan="3" style="text-align: center;">
      		{{ total }}&nbsp;{{ nutrient.nutrient.unit }}<br/>
      	</td>
      {% endfor %}
    </tr>
    {% for product, s, a_row in solution %}
    <tr>
      <td>{{ product }}</td>
      <td>{{ s.varValue }}</td>
      {% for a in a_row %}
      	<td colspan='3'>{{ s.varValue }}&nbsp;item&nbsp;x&nbsp;{{ a.quantity }}&nbsp;{{ a.nutrient.unit }}/item&nbsp;=&nbsp;{% widthratio a.quantity 1 s.varValue %}&nbsp;{{ a.nutrient.unit }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    <tr class="warning">
      <td><b>what&nbsp;to&nbsp;do?</b></td>
      <td></td>
      {% for nutrient, a_row, total, day_total, meets_min, meets_max in nutrients %}
      	<td colspan="3">
      		{% if not meets_min %}
				<div class="alert alert-error">
	      			You need <b>more</b> {{ nutrient.nutrient.name }}.<br/>
	      			<ul>
	      				<li>Either add more tags to the diet.</li>
	      				<li>or lower the minimum required.</li>
	      			</ul>
				</div>
      		{% elif not meets_max %}
				<div class="alert alert-info">
	      			You have <b>too much</b> {{ nutrient.nutrient.name }}.
	      			<ul>
	      				<li>Either add more tags to the diet.</li>
	      				<li>or raise the maximum allowed.</li>
	      			</ul>
				</div>
      		{% endif %}
      	</td>
      {% endfor %}
    </tr>
    <tr class="warning">
      <td><b>totals</b></td>
      <td></td>
      {% for nutrient, a_row, total, day_total, meets_min, meets_max in nutrients %}
      	<td colspan="3" style="text-align: center;">
      		{{ total }}&nbsp;{{ nutrient.nutrient.unit }}<br/>
      	</td>
      {% endfor %}
    </tr>
  </tbody>
</table>
<a href="{% url 'read_mealplans' %}" class="btn btn-primary">back to list</a>
{% endblock %}
