{% extends "banner_base.html" %}

{% load bootstrap_tags %}
{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}edit{% endblock %}

{% block body %}
{% if form.instance.pk %}
	<h2>Updating a Meal Plan</h2>
{% else %}
	<h2>Creating a Meal Plan</h2>
{% endif %}
<form method="POST" action='.'>{% csrf_token %}
	{% if False %}
		{{ form|as_bootstrap }}
	{% else %}
		{% if form.non_field_errors %}
		    <div class="alert alert-error">
		        {% if form_error_title %}
		            <strong>{{ form_error_title }}</strong>
		        {% endif %}
		        {% for error in form.non_field_errors %}
		            {{ error }}<br />
		        {% endfor %}
		    </div>
		{% endif %}
		{{ form.user }}		
	    {% include "bootstrap/field.html" with field=form.name %}
	    {% include "bootstrap/field.html" with field=form.number_of_days %}
	    <div class="row">
	    	<div class="span4">
	    	</div>
	    	<div class="span4">
	    		<h4># Products Available: <span id="product_count">*</span></h4>
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="span4">
				<div class="alert alert-error">
				  	<button type="button" class="close" data-dismiss="alert">&times;</button>
	    			<h4>Musts</h4>
	    			Every product in the meal plan will have <strong>EVERY</strong> single one of these tags. Choose one of these tags for
	    			severe restrictions. For example, if you require <strong>ALL</strong> your food to be vegan. If you do not choose any tags, then no restrictions will be placed.
				</div>
		    </div>
	    	<div class="span4">
				<div class="alert alert-success">
				  	<button type="button" class="close" data-dismiss="alert">&times;</button>
	    			<h4>Desires</h4>
					Any product that has <strong>ONE</strong> of these tags will be considered while attempting to balance your meal plan. 				    			
					Unless, of course, it does not have <strong>ALL</strong> of the musts tags. Choose tags you generally want to be included in your meal plan. 
					Add enough tags here to have a good basket of products.	
				</div>
	    		<label class="checkbox">
      				<input id="select_all" type="checkbox"> select all
    			</label>
		    </div>
	    	<div class="span4">
				<div class="alert alert-info">
				  	<button type="button" class="close" data-dismiss="alert">&times;</button>
	    			<h4>Excludes</h4>
	    			Any product that is tagged with <strong>ANY</strong> one of these tags will not be considered while attempting to balance your meal plan. Choose one of these 
	    			tags if you have allergies like dairy. Do not choose too many of these tags or you will not have enough products to build a meal plan.
				</div>
		    </div>
		</div>
	    <div class="row">
	    	<div class="span4">
			    {% include "bootstrap/field.html" with field=form.must_have_tags %}
		    </div>
	    	<div class="span4">
			    {% include "bootstrap/field.html" with field=form.desired_tags %}
		    </div>
	    	<div class="span4">
			    {% include "bootstrap/field.html" with field=form.excluded_tags %}
		    </div>
		</div>
	{% endif %}
	{{ formsets.management_form }}
	<table class="table">
		<thead>
			<tr>
				<th>id</th>
				<th>nutrient</th>
				<th>recommended</th>
				<th>minimum</th>
				<th></th>
				<th>recommended</th>
				<th>maximum</th>
				<th></th>
			</tr>
		</thead>
		{% for formset in formsets %}
			<tr>
				<td>
					{{ formset.instance.nutrient.pk }}
				</td>
				<td>
					{% for value, text in formset.nutrient.field.choices %}
						{% if value|add:0 == formset.nutrient.value|add:0 %}
							{{ text }}
						{% endif %}
					{% endfor %}
				</td>
				<td>
					{{ formset.instance.nutrient.recommended_min_intake }} {{ formset.instance.nutrient.unit }}
				</td>
				<td>
					{{ formset.meal_plan }}
					{{ formset.nutrient }}
					{{ formset.id }}
					{{ formset.minimum }}
				</td>
				<td>
					{{ formset.minimum.errors }}
				</td>
				<td>
					{{ formset.instance.nutrient.recommended_max_intake }} {{ formset.instance.nutrient.unit }}
				</td>
				<td>
					{{ formset.maximum }}
				</td>
				<td>
					{{ formset.maximum.error }}
				</td>
			</tr>
		{% endfor %}
	</table>
	<p>
		<input type="submit" value="submit" class="btn btn-primary"/>
	</p>
</form>
{% endblock %}
{% block extra_body %}
<script>
$(document).ready(function(){
	$("#select_all").live("change", function(){
		var checked = $(this).is(':checked');
		$("input[name='desired_tags']").prop('checked', checked);
	});
	function product_count(){
		var post_form = $("form").serialize();
		$.getJSON("{% url 'product_count' %}", post_form, function(data){
			$("#product_count").html(data["count"]);
		});
	}
	$("input[type='checkbox']").live("change", function(){
		product_count();
	});
	product_count();
});	
</script>
{% endblock %}

