{% extends "banner_base.html" %}

{% load bootstrap_tags %}
{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}edit{% endblock %}

{% block body %}
<form method="POST" action='.'>{% csrf_token %}
	{% if False %}
		{{ form|as_bootstrap }}
	{% else %}
		{% if form.non_field_errors %}
		    <div class="alert alert-error">
		        {% if form_error_title %}
		            <strong>{{ form_error_title }}</strong>
		        {% endif %}
		        {% for error in form.non_field_errors %}
		            {{ error }}<br />
		        {% endfor %}
		    </div>
		{% endif %}
		{{ form.user }}		
		{{ form.user }}		
	    {% include "bootstrap/field.html" with field=form.name %}
	    {% include "bootstrap/field.html" with field=form.number_of_days %}
	    <div class="row">
	    	<div class="span6">
	    		<label class="checkbox">
      				<input id="select_all" type="checkbox"> select all
    			</label>
		    </div>
	    	<div class="span6">
	    		
		    </div>
		</div>
	    <div class="row">
	    	<div class="span6">
			    {% include "bootstrap/field.html" with field=form.desired_tags %}
		    </div>
	    	<div class="span6">
			    {% include "bootstrap/field.html" with field=form.excluded_tags %}
		    </div>
		</div>
	{% endif %}
	{{ formsets.management_form }}
	<table class="table">
		<thead>
			<tr>
				<th>id</th>
				<th>nutrient</th>
				<th>recommended</th>
				<th>minimum</th>
				<th></th>
				<th>recommended</th>
				<th>maximum</th>
				<th></th>
			</tr>
		</thead>
		{% for formset in formsets %}
			<tr>
				<td>
					{{ formset.instance.nutrient.pk }}
				</td>
				<td>
					{% for value, text in formset.nutrient.field.choices %}
						{% if value|add:0 == formset.nutrient.value|add:0 %}
							{{ text }}
						{% endif %}
					{% endfor %}
				</td>
				<td>
					{{ formset.instance.nutrient.recommended_min_intake }} {{ formset.instance.nutrient.unit }}
				</td>
				<td>
					{{ formset.meal_plan }}
					{{ formset.nutrient }}
					{{ formset.id }}
					{{ formset.minimum }}
				</td>
				<td>
					{{ formset.minimum.errors }}
				</td>
				<td>
					{{ formset.instance.nutrient.recommended_max_intake }} {{ formset.instance.nutrient.unit }}
				</td>
				<td>
					{{ formset.maximum }}
				</td>
				<td>
					{{ formset.maximum.error }}
				</td>
			</tr>
		{% endfor %}
	</table>
	<p>
		<input type="submit" value="submit" class="btn btn-primary"/>
	</p>
</form>
{% endblock %}
{% block extra_body %}
<script>
$(document).ready(function(){
	$("#select_all").live("change", function(){
		var checked = $(this).is(':checked');
		$("input[name='desired_tags']").prop('checked', checked);
	});
});	
</script>
{% endblock %}

