{% extends "banner_base.html" %}

{% load bootstrap_tags %}
{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}edit{% endblock %}

{% block body %}
<form method="POST" action='.'>{% csrf_token %}
	{{ form|as_bootstrap }}
	{{ formsets.management_form }}
	<div class="control-group">
		<label>Servings per Container</label>
		<div class="controls">
			{{ serving_per_container }}
		</div>
	</div>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>nutrient</th>
				<th>per serving</th>
				<th>total</th>
			</tr>
		</thead>
	{% for formset in formsets %}
		<tr>
			<td>
				{% for value, text in formset.nutrient.field.choices %}
					{% if value|add:0 == formset.nutrient.value|add:0 %}
						{{ text }}
					{% endif %}
				{% endfor %}
			</td>
			<td>
				{{ formset.id }}
				<div class="control-group">
					<label>Quantity</label>
					<div class="controls">
						{{ formset.serving_quantity }}
					</div>
				</div>
			</td>
			<td>
				{{ formset.nutrient }}<br/>
				{{ formset.quantity }}<br/>
				<br/>
			</td>
		</tr>
	{% endfor %}
	</table>
	<p>
		<input type="submit" value="submit" class="btn btn-primary"/>
	</p>
</form>
{% endblock %}

{% block extra_body %}
<script>
function round_me(d){
	return Math.round(d * 100000) / 100000;
}
function get_value(item, d){
	var r = item.val();
	var q = d;
	if ($.isNumeric(r)) q = parseFloat(r);
	item.val(q);
	return q;
}
$(document).ready(function(){
	function change_servings(){
		var t = get_value($(this), 0);
		var c = get_value($("#id_serving_per_container"),1);
		var partial_id = "#"+$(this).attr("id").replace("quantity", "serving_quantity");
		$(partial_id).val(round_me(t/c));
	}
	$(".serving").live("change", function(){
		var s = get_value($(this), 0);
		var c = get_value($("#id_serving_per_container"),1);
		var total_id = "#"+$(this).attr("id").replace("serving_quantity", "quantity");
		$(total_id).val(round_me(s*c));
	});
	$(".total").live("change", change_servings);
	$("#id_serving_per_container").live("change", function(){
		$.each($(".serving"), function(i,v){
			$(v).trigger("change");
		});
	});
	$("#id_url").live("change", function(){
		$.getJSON("/product/product/getinfo/?url="+$(this).val(), function(data){
			$("#id_name").val(data["name"]);
			$("#id_price").val(data["price"])
		});
	})
});	
</script>
{% endblock %}