{% extends "banner_base.html" %}

{% load bootstrap_tags %}
{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}edit{% endblock %}

{% block body %}
<form method="POST" action='.'>{% csrf_token %}
	{{ form|as_bootstrap }}
	{{ formsets.management_form }}
	<div class="control-group">
		<label>Servings per Container</label>
		<div class="controls">
			<input class="span1" id="serving_per_container" type="text" />
		</div>
	</div>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>nutrient</th>
				<th>per serving</th>
				<th>total</th>
			</tr>
		</thead>
	{% for formset in formsets %}
		<tr>
			<td>
				{% for value, text in formset.nutrient.field.choices %}
					{% if value|add:0 == formset.nutrient.value|add:0 %}
						{{ text }}
					{% endif %}
				{% endfor %}
			</td>
			<td>
				<div class="control-group">
					<label>Quantity</label>
					<div class="controls">
						<input class="span1 inputserving" type="text" />
					</div>
				</div>
			</td>
			<td>
				{{ formset|as_bootstrap }}
			</td>
		</tr>
	{% endfor %}
	</table>
	<p>
		<input type="submit" value="submit" class="btn btn-primary"/>
	</p>
</form>
{% endblock %}

{% block extra_body %}
<script>
$(document).ready(function(){
	$(".inputserving").live("focusout", function(){
		var r = $(this).val();
		var q = 0;
		if ($.isNumeric(r)) q = parseFloat(r);
		var w = $("#serving_per_container").val();
		var p = 1;
		if($.isNumeric(w)) p = parseFloat(w);
		$(this).val(q);
		$("#serving_per_container").val(p);
		$(this).parent().parent().parent().next().find("input[type='text']").val(q*p);
	});
});	
</script>
{% endblock %}