{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}All{% endblock %}

{% block body %}
    <table class="table">
    	<thead>
    		<tr>
    			<th>product</th>
    			<th>price</tH>
    			<th>see</th>
    			<th>tags</th>
			</tr>
    	</thead>
    	{% for object in object_list %}
    		<tr>
    			<td><a href="{% url 'update_product' object.pk %}">{{ object }}</a></td>
    			<td>${{ object.price|floatformat:2 }}</td>
    			<td><a href="{{ object.url }}">live site</a></td>
    			<td>{% for tag in object.tags.all %}{{ tag }}{% if not forloop.last %},{% endif %}{% endfor %}</td>
    		</tr>
    		</li>
    	{% endfor %}
    </table>
	{% if request.user.is_authenticated %}
    	<a href="{% url 'create_product' %}" class="btn btn-primary">add new product</a>
	{% endif %}
{% endblock %}
